image: node:20

stages:
  - build
  - test
  - package
  - deploy

install:
  stage: build
  script:
    - npm ci --prefix frontend
    - npm ci --prefix backend
  artifacts:
    paths:
      - frontend/dist/
    expire_in: 1 week

test:
  stage: test
  script:
    - npm run test --prefix backend
  needs:
    - install

build_image:
  stage: package
  image: docker:28.5.1
  services:
    - docker:28.5.1-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker build -t bmi_app:latest .
  needs:
    - test

deploy:
  stage: deploy
  script:
    - echo "Deployment erfolgreich abgeschlossen"
  when: on_success
  needs:
    - build_image
